<% layout('layouts/boilerplate') %> 
<h1 class="text-center">All Leads</h1>
       
        <% for (let lead of leads){%>
            <div class="card">
                <div class="row">
                    <div class="col-6 offset-3">
                        <div class="card-body">
                            <h5 class="card-title"><%=lead.name%> <%=lead.lastName%></h5>
                            <h6 class="card-subtitle mb-2 text-muted"><%=lead.status%></h6>
                            <p class="card-text"><strong>Phone Number:</strong> <%=lead.phonenumber%> 
                             <strong>Email:</strong> <%=lead.email%>
                            </p>
                            <p class="card-text">
                                <small class="text-muted"><%=lead.city%>, <%=lead.state%></small>
                            </p>
                            <p class="card-text">
                                <small class="text-muted">Created:<%=lead.created%>  Last update:<%=lead.lastUpdated%></small>
                            </p>
                            <a class="btn btn-info" href="/leads/<%=lead._id%>">View details</a>

                        </div>
                    </div>
                </div>
            </div>

            
            

            <% }%>
    <div class="row">
    <a class="btn btn-primary mt-3" href="/leads/new">Add lead</a>
</div>

